/venv
/__pycache__
/.vscode
/modules/__pycache__
/modules/cal_qhat
/modules/CNNMAE_pre_trained_model_path
/modules/Cosmos-Tokenizer
/modules/pose_hand_landmark_code
/modules/pretrained_ckpts
Mac_Motion.py
Extension/signbot.tgz
signbot.spx